In [1]:
 for i in range(6):
     print('alfina')

alfina
alfina
alfina
alfina
alfina
alfina

In [2]:

total=0
for i in range(11):
    total= total+i
    print(total)

0
1
3
6
10
15
21
28
36
45
55

In [3]:
d=[1,2,3,4,5,6,7,8,9,10]
for i in range(11):
   print(d.append(11))

None
None
None
None
None
None
None
None
None
None
None

In [ ]:
d=[]
for i in range(5):
    d.append(int(input('append a number to the list :x ')))
    print(d)

## Write a  Python program to find those numbers which are divisible by 7 and multiples of 5, between 1500 and 2700

In [ ]:

num_lst=[]
for i in range(1500,2701):
    if (i%7==0) and (i%5==0):
        num_lst.append(i)

print(num_lst)

## Write a  Python program that accepts a word from the user and reverses it.

In [ ]:
a='malayalam'
a[::-1]

## Write a Python program that iterates the integers from 1 to 50. For multiples of three print "Fizz" instead of the number and for multiples of five print "Buzz". For numbers that are multiples of three and five, print "FizzBuzz".

In [ ]:
# integer=[]
# integer1 =[]
# integer2=[]
for i in range(1,51):
    if(i%3==0) and (i%5==0):
        # integer.append(i)
        print('fizz')
    elif(i%5==0):
         # integer1.append(i)
         print('buzz')
         continue
    elif (i%3==0):
          # integer2.append(i)
          print('fizz buzz')
    else:
        print(i)

## Write a  Python program to convert temperatures to and from Celsius and Fahrenheit.
[ Formula : c/5 = f-32/9 [ where c = temperature in celsius and f = temperature in fahrenheit ]

In [ ]:
temperature=input('enter a  temperature:')
if temperature[-1]=='f':
        c=(int(temperature[0:2])-32)/9*5
        print(c,'c')

elif temperature[-1]=='c':
        f=(((int(temperature[0:2])+32))*9)/5
        print(f,'f')
          
f=((c+32)*9)/5

In [ ]:
num=2
for i in range(1,11):
    print(num,"x",i,'=',num*i)

In [ ]:
d=int(input('enter a number'))
for i in range(1,d):
    if(i%d==0):
        print(d)
    else:
        break
print(d)

In [ ]:
d=int(input('enter a number'))
fact = 1
for i in range(1,d):
    fact = fact*i
    print(fact)

In [ ]:

a=[1,2,3,4,5,6,7,8,9,10,13,15,42]
b_list=[]
c_list=[]

for i in a:
    if(i%2==0):
        b_list.append(i)
       
    else:
        c_list.append(i)
print("even list=",  b_list)
print("odd list=",    c_list)

## while loop

In [10]:

x=0
while x<5:
    print(x)
    x=x+1

0
1
2
3
4

### Check how many times a given number can be divided by 3 before it is less than or equal to 10.

In [4]:
x=1
while(x<=10):
    if(x%3==0):
        print(x)
    x=x+1

3
6
9

### Write a  Python program to find those numbers which are divisible by 7 and multiples of 5, between 1500 and 2700 (both included)

In [2]:
x=1500
while(x<=2700):
    
    if(x%5==0)and(x%7==0):
       print(x)
    x=x+1

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

###  Write a  Python function to find the maximum of three numbers.

In [8]:
def max(a,b,c):
    if(a>b)and(a>c):
        print(a)
    elif(b>a)and(b>c):
        print(b)
    elif(c>a)and(c>b):
        print(c)